<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- This package folder will be located one directory up from root of cloned repo folder. For example, if the Repo is cloned under c:\Repos\TestRepo, 
         The NugetPackages folder will be c:\Repos\NugetPackages 
    -->
    <add key="repositorypath" value="..\NugetPackages" />
    <add key="PackageSaveMode" value="nuspec" />
  </config>
  <solution>
    <!-- This is necessary to prevent nuget from adding packages and their content to source control. -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="ADG.CS" value="https://msdata.pkgs.visualstudio.com/ADG_Compliance_Services/_packaging/ADG.CS/nuget/v3/index.json" />
  </packageSources>
</configuration>
