<TSA>
    <Notification>ngpcieng@microsoft.com</Notification>
    <AreaPath>Compliance\TSA</AreaPath>
    <!-- Please refer to the table in the [Template] subsection for a value for TemplateName.   -->
    <Template>TFSAzureRD</Template>
    <!-- The branch against which TSA will create alerts [optional: can be a comma or semi-colon delimited list of branchnames]. --> 
    <DefaultBranches>master</DefaultBranches> 
    <IterationPath>ADG_Compliance_Services</IterationPath>
    <CodebaseAdmin>REDMOND\ngpciengsg</CodebaseAdmin>
  </TSA>