<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="JwtMiddleware" switchValue="Off">
        <listeners>
          <add name="SllTracer" />
        </listeners>
      </source>
      <source name="Microsoft.Osgs.Infra.Cache" switchValue="Off">
        <listeners>
          <add name="SllTracer" />
        </listeners>
      </source>
      <source name="Microsoft.Osgs.ServiceClient.Compass" switchName="CompassLogLevel">
        <listeners>
          <add name="SllTracer" />
        </listeners>
      </source>
      <source name="Microsoft.Windows.Services.CompassService.Client" switchName="CompassLogLevel">
        <listeners>
          <add name="SllTracer" />
        </listeners>
      </source>
      <source name="SimpleMemoryCacheClient" switchName="CacheLogLevel">
        <listeners>
          <add name="SllTracer" />
        </listeners>
      </source>
      <source name="SimpleCacheTracker" switchName="CacheLogLevel">
        <listeners>
          <add name="SllTracer" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="SllTracer" type="Microsoft.PrivacyServices.UX.Core.Logging.SllTraceListener, ux" />
    </sharedListeners>
    <switches>
      <add name="CompassLogLevel" value="Off" />
      <add name="CacheLogLevel" value="Off" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
