<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00">
      <?ap-config target="environmentVariables" insertat="appendChild" when="@envnamespace='int'" 
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" /> ?>
      <?ap-config target="environmentVariables" insertat="appendChild" when="(@envnamespace='prod' or @envnamespace='ppe')" 
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" /> ?>
      <environmentVariables></environmentVariables>
    </aspNetCore>
    <rewrite>
      <!-- NOTE: all rules here are applied only when hosted in IIS. -->
      <rules>
        <rule name="Always redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" matchType="Pattern" pattern="^off$" ignoreCase="true" negate="false" />
            <!-- Exclude /keepalive (probe URL must be on HTTP). -->
            <add input="{HTTP_URL}" matchType="Pattern" pattern="/keepalive$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- This is required per SSLScanner results, for abiding with services security requirements. 
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security 
         max-age has been set to 1 year per guidance on https://sslscanner.trafficmanager.net/Implementation.aspx#hsts_help 
         This will have a known side-effect of upgrading /keepalive to https. -->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <!--This is required to prevent clickjacking attacks by indicating whether or not a browser should
         be allowed to render a page in a <frame> or <iframe>, thereby ensuring that our content is not
         embedded into other sites. For more info see https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet -->
        <add name="X-Frame-Options" value="sameorigin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>