pcd-search-landing {
    display: block;

    .pcd-search-box form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        mee-text-field {
            display: inline-block;
            width: 60%;
            margin: 0 4px;

            label {
                display: none;
            }
        }

        button {
            margin: 0 4px;
        }
    }
}
