<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.diagnostics>
    <switches>
      <!-- https://msdn.microsoft.com/en-us/library/system.diagnostics.traceswitch(v=vs.100).aspx 
           https://msdn.microsoft.com/en-us/library/system.diagnostics.tracelevel(v=vs.100).aspx 
           0 = Off
           1 = Error
           2 = Warning
           3 = Info
           4 = Verbose 
           -->
      <add name="traceSwitch" value="3" />
    </switches>
  </system.diagnostics>
  <system.net>
    <defaultProxy enabled="false">
      <proxy bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  <appSettings>
    <!-- add key="StorageConnectionString" value="UseDevelopmentStorage=true;" -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
	<runtime>
		<!--Enable server garbage collection to optimize for ASP.NET Web APIs-->
		<gcServer enabled="true" />
	</runtime>
</configuration>
