<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetrySection" type="VcClient.RetryConfigurationSection, VcClient" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings>
    <add key="VcClient_DefaultTimeout" value="00:05:00" />
    <add key="VcClient_SubmitTimeout" value="00:10:00" />
    <add key="VcClient_AppendAttemptCount" value="5" />
    <add key="VcClient_MaxConcurrentTasks" value="20" />

    <!--add key="StorageConnectionString" value="UseDevelopmentStorage=true;" -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <RetrySection retryEnabled="true">
    <RetryBehaviors>
      <RetryBehavior operation="GetDirectoryInfo" retryEnabled="true" retryTimeBound="00:02:00" />
      <RetryBehavior operation="GetStreamInfo" retryEnabled="true" retryTimeBound="00:02:00" />
    </RetryBehaviors>
  </RetrySection>

  <system.diagnostics>
    <switches>
      <!-- https://msdn.microsoft.com/en-us/library/system.diagnostics.traceswitch(v=vs.100).aspx 
           https://msdn.microsoft.com/en-us/library/system.diagnostics.tracelevel(v=vs.100).aspx 
           0 = Off
           1 = Error
           2 = Warning
           3 = Info
           4 = Verbose 
           -->
      <add name="traceSwitch" value="3" />
      <add name="vcclientlogswitch" value="0" />
    </switches>
  </system.diagnostics>
  <runtime>
	  <!--Enable server garbage collection to optimize for ASP.NET Web APIs-->
	  <gcServer enabled="true" />
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="https://be.cosmos08.osdinfra.net" maxconnection="20" />
      <add address="https://be.cosmos09.osdinfra.net" maxconnection="20" />
      <add address="https://be.cosmos11.osdinfra.net" maxconnection="20" />
      <add address="https://be.cosmos12.osdinfra.net" maxconnection="20" />
      <add address="https://be.cosmos14.osdinfra.net" maxconnection="20" />
      <add address="https://be.cosmos15.osdinfra.net" maxconnection="20" />
      <add address="*" maxconnection="5" />
    </connectionManagement>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
