; ONLY USE THIS FOR CLOUDTEST (uses a PAT to authenticate to NPM feed)
registry=https://msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/registry/
always-auth=true

; The PAT token expires on or before 2/20/2020.
; begin auth token
; The replace_tokens are replaced by ConvertJunitToNunit script
//msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/registry/:username=replace_username
//msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/registry/:_password=replace_password
//msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/registry/:email=npm requires email to be set but doesn't use the value
//msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/:username=replace_username
//msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/:_password=replace_password
//msdata.pkgs.visualstudio.com/_packaging/ADGCS/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
; Always save exact version of dependency when --save or --save-dev is used.
; save-exact=true
