// Standard colors used across PCD

$standard-blue-color: #006cc1;
$standard-green-color: green;
$error-color: #E81123;
$warning-color: #FFD800;
$light-grey-color: #f3f3f3;
$uhf-footer-color: #6B6B6B;
$standard-black-color: #000000;