<?xml version="1.0" encoding="utf-8" ?>
<!-- Check for throttling settings in the webapi configuration. 
     Those are also tied to the same set of partner ids. -->
<accessList>
  <partner id="e0e21f83-d8a1-4226-910b-26d5c9b06b40" name="NGP-PAF-Prod UAMI">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="9396613a-ec0d-4102-83a2-b079b69566f9" name="NGP-PAF-NonProd UAMI">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="a3058380-1ceb-4aa9-a0ac-1beeee9f27bd" name="PDMS UX">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="364193f7-a0fe-4868-a57a-3bdcf1e3af7f" name="PDMS UX (NonProd)">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="3fd11bcf-a57b-4ea9-ba3e-4bf8c2d11953" name="PDMS UX AME">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="87c05b04-a824-4127-9140-241116ae6fdb" name="PDMS UX (NonProd) AME">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="72a4d881-cf96-4380-8fed-a73bfc9fb6a9" name="DataGrid_Egress">
    <apis>
      <api>V2.AssetGroups.ComplianceStateByAssetQualifier</api>
    </apis>
  </partner>
  <partner id="5b096256-349a-475a-a319-c16eede8d26a" name="DataGrid_Portal">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="2a9f7370-6f84-4e2e-ab59-3f82579efaec" name="DataGrid_Portal_New">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="1b4e68d2-8397-4f39-8982-7e7a0af447e6" name="DataGrid_Portal_New_NonProd">
    <apis>
      <api>*</api>
    </apis>
  </partner> 
  <partner id="3e19744b-54b2-4e75-91cd-4f1e8b619e29" name="DataMapService">
    <apis>
      <api>V2.AssetGroups.Read</api>
      <api>V2.AssetGroups.ReadById</api>
      <api>V2.AssetGroups.ReadWithFilters</api>
      <api>V2.AssetGroups.ReadAll</api>
      <api>V2.DataOwners.Read</api>
      <api>V2.DataOwners.ReadWithFilters</api>
      <api>V2.DataOwners.ReadAll</api>
    </apis>
  </partner>
  <partner id="96643814-0c74-419c-a383-b6816b344247" name="DataMapService (PPE)">
    <apis>
      <api>V2.AssetGroups.Read</api>
      <api>V2.AssetGroups.ReadById</api>
      <api>V2.AssetGroups.ReadWithFilters</api>
      <api>V2.AssetGroups.ReadAll</api>
      <api>V2.DataOwners.Read</api>
      <api>V2.DataOwners.ReadWithFilters</api>
      <api>V2.DataOwners.ReadAll</api>
    </apis>
  </partner>
  <partner id="05bff9ab-0118-4731-8890-468948eba2e8" name="PDMS Service">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="b1b98629-ed2f-450c-9095-b895d292ccf1" name="PDMS Service (1st party)">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="ff3a41f1-6748-48fa-ba46-d19a123ae965" name="PDMS-INT (1st party)">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <?ap-config target="./partner[@id='5fda7238-1512-46b9-9aa0-97c7fc7e576d']" method="remove" when="@envnamespace='prod'"?>
  <partner id="5fda7238-1512-46b9-9aa0-97c7fc7e576d" name="NGP PDMS Test (AME)">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="88abfced-edc8-4ec5-bd7b-beecfd0378df" name="PDMS Client">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="25862df9-0e4d-4fb7-a5c8-dfe8ac261930" name="NGP PDMS NonProd (AME Client)">
    <apis>
      <api>*</api>
    </apis>
  </partner>
  <partner id="3c7702e1-cde9-430b-b3ec-9ae4211c3acb" name="PCFV2 PPE (AME Client)">
	<apis>
		<api>*</api>
	</apis>
  </partner>
  <partner id="6bc7725a-1653-4276-914d-fa49341c12ca" name="PCFV2 PROD (AME Client)">
	<apis>
		<api>*</api>
	</apis>
  </partner>
  <partner id="877310d5-c81c-45d8-ba2d-bf935665a43a" name="PXS">
    <apis>
      <api>V2.Incidents.Create</api>
    </apis>
  </partner>
  <!-- Remove test access from production. -->
  <?ap-config target="./partner[@id='705363a0-5817-47fb-ba32-59f47ce80bb7']" method="remove" when="@envnamespace='prod'"?>
  <partner id="705363a0-5817-47fb-ba32-59f47ce80bb7" name="PXS (PPE)">
    <apis>
      <api>V2.Incidents.Create</api>
    </apis>
  </partner>
  <partner id="ebd78fdd-fca1-4702-8ce2-3c68a1a66cf1" name="ICM Manual Agent">
    <contact>itsmio@microsoft.com</contact>
    <apis>
      <api>V2.AssetGroups.ReadWithFilters</api>
    </apis>
  </partner>
  <!-- This needs access in PROD in order to get the PPE metadata. 
       PDMS stores agent ppe/prod data in the same DB. -->
  <partner id="cc1c6bd4-ecb7-4127-9bdf-a4f642d4963f" name="ICM Manual Agent (NonProd)">
    <contact>itsmio@microsoft.com</contact>
    <apis>
      <api>V2.AssetGroups.ReadWithFilters</api>
    </apis>
  </partner>
  <partner id="e4bca11a-271f-4576-b535-ea1d97276c57" name="AaaA Sync Engine">
    <contact>itsmio@microsoft.com</contact>
    <apis>
      <api>V2.AssetGroups.ReadWithFilters</api>
    </apis>
  </partner>
  <partner id="f2e54f0f-8c5c-4d73-b334-540530f62c7d" name="AaaA Sync Engine (Non-Prod)">
    <contact>itsmio@microsoft.com</contact>
    <apis>
      <api>V2.AssetGroups.ReadWithFilters</api>
    </apis>
  </partner>
  <partner id="2063fccc-b956-4493-8e97-fa91663c262a" name="AaaA Sync Engine (Dev)">
    <contact>shrisamarth.kamurti@microsoft.com</contact>
    <apis>
      <api>V2.AssetGroups.ReadWithFilters</api>
    </apis>
  </partner>
</accessList>
