<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- https://msdn.microsoft.com/en-us/library/system.diagnostics.traceswitch(v=vs.100).aspx 
           https://msdn.microsoft.com/en-us/library/system.diagnostics.tracelevel(v=vs.100).aspx 
           0 = Off
           1 = Error
           2 = Warning
           3 = Info
           4 = Verbose 
           -->
      <add name="traceSwitch" value="3" />
    </switches>
  </system.diagnostics>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
  <runtime>
	<!--Enable server garbage collection to optimize for ASP.NET Web APIs-->
	<gcServer enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>