<h1>Data Agent Dry-Run</h1>
<p>NGP Common Infrastructure is creating 2 Dry Runs to ensure that the communication channels between data agent 
and NGP Common Infra Services are correctly aligned and create a quick response.</p>

<p>This incident has been filed for:</p>

<table>
<tr><th>Team</th><td style='padding-left:10px;'>{0}</td></tr>
<tr><th>Agent</th><td style='padding-left:10px;'>{1}</td></tr>
</table>
<br />

<p>If you received an incident please:</p>
<ol>
<li>Call into the skype bridge below</li>
<li>Resolve and Close the Incident</li>
<li>Update any routing rules if the incident went to an unexpected location</li>
</ol>

<hr />

<h2>Skype Info</h2>
<div>
<a href="https://meet.lync.com/microsoft/v-mechr/JH4J0J97">Join Skype Meeting</a>  <br />
Trouble Joining? <a href="https://meet.lync.com/microsoft/v-mechr/JH4J0J97?sl=1">Try Skype Web App</a><br />
Join by phone<br />
Toll number: +1 (323) 849-4874, access code: 28413182 (Dial-in Number) English (United States)  
</div>
<br />
<div>
<a href="https://dialin.lync.com/8551f4c1-bea3-441a-8738-69aa517a91c5?id=28413182">Find a local number</a><br />
Conference ID: 28413182 (same as access code above)<br />
<a href="https://mysettings.lync.com/pstnconferencing">Forgot your dial-in PIN?</a> | <a href="https://go.microsoft.com/fwlink/?LinkId=389737">Help</a><br />
All participants who use the Join by Phone option must dial the full number for call access. <br />
</div>
<br />
<div>
You can find out more at: <a href="https://microsoft.sharepoint.com/teams/ngphome/ngpx/execution/SitePages/Data-Agent-ICM-Dry-Run.aspx">Data Agent Dry Run Wiki</a>
</div>
