<h1>Unresponsive Data Agent</h1>
<p>You agent is not processing export and/or delete requests. 
Please review the information in this incident for troubleshooting steps. 
If you have additional questions, join the Skype meeting below for assistance. <b>The Skype call will be staffed from 1pm - 2pm PDT.</b></p>

<p>This incident has been filed for:</p>

<table>
<tr><th style="text-align: right;">Team Name</th><td style='padding-left:10px;'>{0}</td></tr>
<tr><th style="text-align: right;">Agent Name</th><td style='padding-left:10px;'>{1}</td></tr>
<tr><th style="text-align: right;">Agent Id</th><td style='padding-left:10px;'>{6}</td></tr>
</table>
<br />

<h2>Incident Workflow</h2>
<ol>
<li>If you do not have enough trouble shooting information to investigate this incident yourself, engage the agent owners.</li>
  <ol>
  <li>Go to <a href="https://manage.privacy.microsoft.com/data-agents/view/{6}">agent owners</a> where contact aliases are available.</li>
  </ol>
<li>Acknowledge the Incident if you are the person investigating it.</li>
<li>Debug the issues. If you are not sure how to start, see <a href="https://microsoft.sharepoint.com/teams/ngphome/ngpx/execution/SitePages/Export-Agents-Not-Completing-Incidents.aspx">Agents-Not-Completing-Incidents</a>.</li>
<li>Mitigate the incident when you have published the fix into production.</li>
<li>Resolve the incident when you verify the fix with the reports at <a href="https://aka.ms/agentdrilldown">https://aka.ms/agentdrilldown</a>.</li>
  <ol>
  <li>Here are examples of how <a href="https://microsoft.sharepoint.com/teams/ngphome/SitePages/Healthy%20Data%20Agent%20Examples.aspx">healthy agents</a> look.</li>
  </ol>
</ol>

<br />

<hr />

<h2>Skype Info</h2>
<div>
<a href="https://meet.lync.com/microsoft/kakern/28HJ9BMY">Join Skype Meeting</a>  <br />
Trouble Joining? <a href="https://meet.lync.com/microsoft/kakern/28HJ9BMY?sl=1">Try Skype Web App</a><br />
Join by phone<br />
Toll number: +1 (425) 616-0754, access code: 81680120 (Dial-in Number) English (United States)  
</div>
<br />
<div>
<a href="https://dialin.lync.com/8551f4c1-bea3-441a-8738-69aa517a91c5?id=81680120">Find a local number</a><br />
Conference ID: 81680120 (same as access code above)<br />
<a href="https://mysettings.lync.com/pstnconferencing">Forgot your dial-in PIN?</a> | <a href="https://go.microsoft.com/fwlink/?LinkId=389737">Help</a><br />
All participants who use the Join by Phone option must dial the full number for call access. <br />
</div>