<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <appSettings>
    <!-- The following two lines contain the VcClient configuration parameters. 
        https://microsoft.sharepoint.com/teams/Cosmos/Wiki/VcClient%20Configuration%20Parameters.aspx -->
    <add key="VcClient_DefaultTimeout" value="00:00:15" />
    <add key="VcClient_PhysicalRedirectionEnabled" value="True" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- https://msdn.microsoft.com/en-us/library/system.diagnostics.traceswitch(v=vs.100).aspx 
            https://msdn.microsoft.com/en-us/library/system.diagnostics.tracelevel(v=vs.100).aspx 
            0 = Off
            1 = Error
            2 = Warning
            3 = Info
            4 = Verbose 
            -->
      <add name="traceSwitch" value="4" />
    </switches>
  </system.diagnostics>
</configuration>